<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>

  <!-- Bootstrap -->
  <% include partials/head.html%>
</head>

<body>
  <% include partials/nav.html %>
  <!-- HEADER -->
  <header>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Welcome back,</h1>
        <p class="lead fw-normal hola display-4" id="helloText"></p>
        <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </header>
  <section>
    <div class="container pt-4">
      <div class="row">
        <div id="tableContainer" class="col-7 loading">
           <h1 class="text-left pb-4 display-4" >Active Appointments</h1>
           <table id="myTable" >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Actions</th>
                    <th hidden id="adminCol">Admin</th>
                </tr>
            </thead>
           </table>
        </div>
        <di class="col-1"></di>
        <div class="col-4 centerDiv "style="text-align: center;">
          <a href="/appointment"><button class="form-control roundBtn"> + </button></a>
          <label class="text-center pt-4 display-5">Create New Appointment</label>
        </div>
      </div>
     
      
    </div>
  </section>



  
  <section id="editSection" class="pt-5" hidden>
    <div class="container">
      <hr>
      <h1 class=" display-4">Edit Appointment </h1>
      <form id="editForm" class="pt-4">
        <div class="row">
          <input name="idAppEd" id='idAppEd' type="text" hidden/>
          <div class="col-4"> <input name="dateEd"  class="form-control" type="date" id="dateEdit" /></div>
          <div class="col-4"></div>
          <div class="col-4"><select name="specialistEd" id="specialistEdit"  class="form-control">
          </select></div>
        </div>
        <div class="row pt-4">
          <div class="col-4"> </div>
          <div class="col-4"> <input class="form-control" type='submit' value="Edit"/></div>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
  </section>
  <section id="detailsSection"  class="pt-5" hidden >
    <div class="container">
      <hr>
      <h1 class=" display-4">Appointment details</h1>
      <div class="row pt-4">
        <input name="idAppEd" id='idAppEd' type="text" hidden />
        <div class="col-4"> <input class="form-control" type="date" id="dateDetails" disabled /></div>
        <div class="col-4"></div>
        <div class="col-4"><input id="specialistDetails"  class="form-control" disabled/></div>
      </div>
    </div>
  </section>
  <section id="userDetails"  class="pt-5" hidden >
    <div class="container">
      <hr>
      <h1 class=" display-4">User details</h1>
      <div class="row pt-4">
        <div class="col-2"> 
        </div>
        <div class="col-2"> 
          <h4 class=" display-5">Name: </h4>
          <h4 class=" pt-1 display-5">Address: </h4>
          <h4 class=" pt-1 display-5">Phone: </h4>
          <h4 class=" pt-1 display-5">Mail: </h4>
          <h4 class=" pt-1 display-5">Doc Id: </h4>
        </div>
        <div class="col-6"> 
          <input class="form-control" type="text" id="nameDet" disabled />
          <input class="form-control" type="text" id="addressDet" disabled />
          <input  class="form-control" type="text" id="phoneDet"  disabled/>
          <input class="form-control" type="text" id="emailDet" disabled />
          <input class="form-control" type="text" id="docDet" disabled />
        </div>
      </div>

      
    </div>
  </section>
  <!-- FOOTER -->
  <br>
  <br>
  <br>
  <% include partials/footer.html %>
  <!-- <script>
    // stringify the data passed from router to ejs (within the EJS template only)
    var parsed_data =appo;
  </script> -->
  <script type="text/javascript" src="/js/menu.js"></script>
</body>

</html>
