.pequeno{
   font-size: 8px !important;
}

.abajo {

   /* width:100%;
   height:60px;   Height of the footer */
   background:#d8cfc540;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}

.input-group-addon{
   width: auto;
}

.navbar ul li{ 
   padding: 0px 10px; 
 } 

.bottomnavbar{
   background-color: transparent;
   color: black;
   position: fixed;
   bottom: 50px;
   width: 100%;
}

.bottomnavbar ul li { 
   padding: 0px 10px; 
 } 

.bottomnavbar a{
   color: black;
}

.bottomnavbar a.active{
   color: darkblue;
}

.colorBlue{
   color: #007bff;
}

.contenedor_principal{
   background-image:
    linear-gradient(rgb(0 123 255 / 25%), rgb(0 123 255 / 30%)),
    url("../img/bg.jpg");
   background-size: cover;
   background-position-y: center;
}
.password{
   font-size: 10px;
   text-align: right;
}
body{
   font-family: Lato, Helvetica, sans-serif!important;
   font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.roundBtn{
   border-radius: 70%!important;
    height: 200px!important;
    width: 200px!important;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.centerDiv{
   align-self: center;
}
.centerLabel{
   margin-left: auto;

}

.container {
   max-width: 960px;
 }
 
 /*
  * Custom translucent site header
  */
 
 .site-header {
   background-color: rgba(0, 0, 0, .85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
 }
 .site-header a {
   color: #8e8e8e;
   transition: color .15s ease-in-out;
 }
 .site-header a:hover {
   color: #fff;
   text-decoration: none;
 }
 

 .product-device {
   position: absolute;
   right: 10%;
   bottom: -30%;
   width: 300px;
   height: 540px;
   background-color: #333;
   border-radius: 21px;
   transform: rotate(30deg);
 }
 
 .product-device::before {
   position: absolute;
   top: 10%;
   right: 10px;
   bottom: 10%;
   left: 10px;
   content: "";
   background-color: rgba(255, 255, 255, .1);
   border-radius: 5px;
 }
 
 .product-device-2 {
   top: -25%;
   right: auto;
   bottom: 0;
   left: 5%;
   background-color: #e5e5e5;
 }
 
 
 /*
  * Extra utilities
  */
 
 .flex-equal > * {
   flex: 1;
 }
 @media (min-width: 768px) {
   .flex-md-equal > * {
     flex: 1;
   }
 }
 

 .loading{
   background-image: url("../img/load.gif");
   background-repeat: no-repeat;
  background-position: center;
}
.nav-pills .pill-1 .nav-link:not(.active) {
   background-color: white;
   color: #343A3F;
}
.nav-pills .pill-1 .nav-link {
   background-color: #343A3F;
   color: white;
}