    <form id="loginForm">
        <div class="row">
            <div class="col-12" align="center">
                <h3>LOGIN</h3>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-2">
            </div>
            <div class="col-8">
                <input  class="form-control" type="text" name="email" placeholder="Email" required>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-2">
            </div>
            <div class="col-8">
                <input  class="form-control" type="password" name="password" placeholder="Password" required>
                <h1></h1>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-2">
            </div>
            <div class="col-8">
                <button class="form-control " type="submit">LOG IN </button>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-2">
            </div>
            <div class="col-8">
                <a href="#" onclick="resetPassword()">Forgot your password?</a>
            </div>
            <div class="col-2">
            </div>
        </div>
    </form>
