    <form id="signupForm">
        <div class="row">
            <div class="col-12" align="center">
                <h3>SING UP</h3>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-5">
                <input class="form-control" type="text" name="fullname" placeholder="Full name" required>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <input class="form-control" type="number" name="phone" placeholder="Phone" max-length="10" required>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-5">
                <input class="form-control" type="text" name="docId" placeholder="DOC ID" required>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <input class="form-control" type="text" name="address" placeholder="Address" required>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-5">
                <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <input class="form-control" type="email" name="emailConf" placeholder="Confirm Email" required>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-5">
                <input class="form-control" type="password" name="passwordU" placeholder="Password" required>
            </div>
            <div class="col-1">
            </div>
            <div class="col-5">
                <input class="form-control" type="password" name="passwordUConf" placeholder="Confirm Password" required>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-2">
            </div>
            <div class="col-8">
                <button class="form-control" type="submit">REGISTER</button>
            </div>
            <div class="col-2">
            </div>
        </div>
    </form>
